<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.AnnotationTransformer"></listener>
        <listener class-name="listeners.TestNGListener"></listener>
    </listeners>
    <parameter name="browserName" value="chrome"/>
    <!--<test name="HomePageTest" parallel="methods" thread-count="2">-->
    <test name="HomePageTest">
        <classes>
            <class name="heroku.HomePageTest"></class>
        </classes>
    </test>
</suite>